dist: xenial
# preparazione macchina virtuale
sudo: required
before_install:
  # questo comando potrebbe essere utile per installare i pacchetti necessari a compilare su linux (ubuntu o debian)
  - sudo apt-get install -qq luatex texlive-full texlive-luatex pandoc latexmk texlive texlive-xetex tex4ht texlive-latex-extra texlive-fonts-extra texlive-lang-italian texlive-science texlive-bibtex-extra html-xml-utils tidy
  # installazione di tex4ebook (per creare l'epub, non indispensabile)
  - git clone https://github.com/michal-h21/make4ht
  - cd make4ht
  - make
  - sudo make install
  - cd ..
  - git clone https://github.com/michal-h21/tex4ebook                      
  - cd tex4ebook                                            
  - make
  - sudo make install
  - cd ..
  
  
script:
  - cd tex
  # compila e crea il pdf
  - make
  # crea l'epub
  - tex4ebook  main.tex
  - mv main.epub appunti_Fisica_Medica.epub
  - tex4ebook -f epub3 main.tex
  - mv main.epub appunti_Fisica_Medica_epub3.epub
  - cd ..
  
deploy:
  provider: releases
  api_key: ${api_key}
  file:
  - "./tex/appunti_Fisica_Medica.pdf"
  - "./tex/appunti_Fisica_Medica.epub"
  - "./tex/appunti_Fisica_Medica_epub3.epub"  
  skip_cleanup: true
  on:
    tags: true
    all_branches: true

