sudo: required
language: generic
services: docker

script:
  # We use the docker image from https://hub.docker.com/r/dxjoke/tectonic-docker/
  # Compiling only main.tex:
  - docker run --mount src=$TRAVIS_BUILD_DIR/tex,target=/usr/src/tex,type=bind carlomt/latex /bin/sh -c "pwd; ls; make;"
  #tex4ebook -f epub main.tex && mv main.epub appunti_Fisica_Medica.epub; tex4ebook -f epub3 main.tex && mv main.epub appunti_Fisica_Medica_epub3.epub"
  
deploy:
  provider: releases
  api_key: ${api_key}
  file:
  - "./tex/appunti_Fisica_Medica.pdf"
  - "./tex/appunti_Fisica_Medica.epub"
  - "./tex/appunti_Fisica_Medica_epub3.epub"  
  skip_cleanup: true
  on:
    tags: true
    all_branches: true

